

#dashboard-container{
     background-color: #121212 ;
     display: flex;
     width: 100%;
     justify-content: center;
}

#task-container{
     max-width: 1100px;
     width: 90%;
     background-color: #1e1e1e;
     border-top: 2px solid rgba(255, 255, 255, 0.209);      /* light highlight */
     box-shadow: 0 4px 6px rgba(0,0,0,0.6); /* dark shadow under */
     border-radius: 18px;
     overflow: hidden;
     margin-top: 50px;
}

#task-manager-header{
     background-color: rgb(41, 42, 45);
     box-shadow: 1px 3px 5px black;
}

#task-row-container{
     background-color: #282828;
}

#table-header{
     width: 95%;
     text-align: center;
     justify-self: center;
}

#details-container{
     background-color: rgb(41, 42, 45);
     border-top: 2px solid rgba(255, 255, 255, 0.209);      /* light highlight */
     box-shadow: 0 4px 6px rgba(0,0,0,0.6); /* dark shadow under */
     border-radius: 18px;
     width: 95%;
     justify-self: center;
     margin-bottom: 15px;
     overflow: hidden;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

form{
     margin: 10px 0px 10px 0px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow: hidden;
}

form{
     font-size: 1.5rem;
     padding: 1rem;
}
form label{
     font-size: 2rem;
}

form input, form textarea, form select {
     width: 100%;
     max-width: 800px;
     padding: 0.5rem 1rem 0.5rem 1rem;
     background-color: #1c1917;
     border-radius: 1rem;
     margin-bottom: 0.5rem;
     border: 2px solid #332f2c;
     appearance: none;
}

input:hover{
     border: #3a3531;
     box-shadow: 0px 0px 1px 1px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #12121200; /* Fallback color */

}

/* Modal Content/Box */
.modal-content {
  background-color: #121212 ;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border: 2px solid #332f2c;
  border-radius: 1rem;
  text-align: center;
}

.modal-content p{
     font-size: x-large;
}

/* The Close Button */
.close {
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     float: right;
     font-size: large;
     font-weight: bold;
     background-color: #84cc16;
     width:25px;
     height:25px;
     line-height: 1;
     border-radius: 3px;
}

.close:hover,
.close:focus {
     text-decoration: none;
     cursor: pointer;
     background-color: #9cc461;
}
