<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet">
    <title>Create task</title>
    
</head>

<body>

        
     <form method="POST" action="{{url_for('create_task')}}" class="bg-black-500">
          <label for="title" >title</label>
          <input type="text" name="title" id="title" required >

          <label for="description">description</label>
          <textarea type="text" name="description" id="description" required></textarea>

          <label for="due_date">Due date</label>
          <input type="date" name="due_date" id="due_date" required>

          <label for="status">Status</label>
          <select id="status" name="status" required>
               <option value="" disabled selected>Select status</option>
               <option value="To do">To Do</option>
               <option value="In progress">In Progress</option>
               <option value="Completed">Completed</option>
          </select>

          <button type="submit">Add task</button>
        </form>
</body>


</html>