<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/587d1d898c.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
    
</head>

<body class="bg-stone-900 text-white" id="dashboard-container">

     
        <div id="task-container">
            <div class="flex p-6 items-center justify-between" id="task-manager-header">
                <h1 class=" text-3xl">Task Manager</h1>
                
                <div class="flex items-center justify-center border-2 rounded-full w-12 h-12 hover:border-sky-500">
                    <a href="{{url_for('create_task')}}" class="flex items-center justify-center w-full h-full text-6xl -translate-y-1.5 hover:text-sky-500">+</a>
                </div>
            </div>

            <table id="table-header" class="mt-6 mb-6">
                <thead class="text-xl">
                    <th class="w-1/4">Title</th>
                    <th class="w-1/4">Description</th>
                    <th class="w-1/4">Due date</th>
                    <th class="w-1/4">Status</th>
                </thead>
            </table> 

            <div id="details-container">
            {% for task in tasks %} 
                <div class="grid grid-cols-4  text-center  border-b border-stone-500">
                    <div class="p-2 flex justify-center items-center" >{{task["title"]}}</div>
                    <div class="p-2 flex justify-center items-center">{{task["description"]}}</div>
                    <div class="p-2 flex justify-center items-center">{{task["due_date"]}}</div>

                    {% if task["status"] == "To do" %}
                    <div class="p-2 bg-amber-500 flex items-center justify-center relative">{{task["status"]}}
                        <a href="{{url_for('edit_task', task_id=task['id'])}}"class="absolute right-4 hover:text-3xl">
                        <i class="fa-solid fa-pen-to-square "></i>
                        </a>
                    </div>

                    {% elif task["status"] == "In progress" %}

                    <div class="p-2 bg-cyan-500 flex items-center justify-center relative">{{task["status"]}}
                        <a href="{{url_for('edit_task', task_id=task['id'])}}"class="absolute right-4 hover:text-3xl">
                        <i class="fa-solid fa-pen-to-square "></i>
                        </a>
                    </div>

                    {% elif task["status"] == "Completed" %}
                    <div class="p-2 bg-green-500 flex items-center justify-center relative">{{task["status"]}}
                        <a href="{{url_for('edit_task', task_id=task['id'])}}" class="absolute right-4 hover:text-3xl" >
                        <i class="fa-solid fa-pen-to-square "></i>
                        </a>
                    </div>

                    {% endif %}
                </div>
                
            {% endfor %} 
            </div>
        </div>
</body>
</html>