{% extends "base.html" %}
    {% block title %}Dashboard{% endblock %}

    {% block mobile_search %}
        <div class="w-full mx-4">
            <input type="text" name="search-by-title" id="search-by-title" placeholder="Search by title" class="flex w-full px-4 py-3 bg-stone-900 border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl"/>
        </div>
    {% endblock %}

    {% block content %}
            <div class="flex p-6 items-center justify-between" id="task-manager-header">
                
                <h1 class=" text-3xl">Task Manager</h1>

            
                <input type="text" name="search-by-title" id="search-by-title" placeholder="Search by title" class="hidden sm:flex w-[50%] px-4 py-3 bg-stone-900 border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl"/>

                <div id="add-task" class="flex items-center justify-center border-2 rounded-full w-12 h-12 hover:border-sky-500 m-2">
                    <a href="{{url_for('create_task')}}" ><i class="fa-solid fa-plus text-2xl"></i></a>
                </div>
            </div>

            <table id="table-header" class="mt-6 mb-6 sm:table hidden">
                <thead class="text-xl">
                    <th class="w-1/4">Title</th>
                    <th class="w-1/4">Description</th>
                    <th class="w-1/4">Due date 
                        <select id="date-order" name="date-order" class="text-black w-4 rounded-full ">
                            <option value="Date Descending">Date Descending</option>
                            <option value="Date Ascending">Date Ascending</option>
                        </select>
                    </th>
                    <th class="w-1/4">Status
                        <select id="status" name="status" class="text-black w-4 rounded-full ">
                            <option value="To do">To Do</option>
                            <option value="In progress">In Progress</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </th>
                </thead>
            </table> 

            <div id="details-container">
            {% for task in tasks %} 
                <div class="grid sm:grid-cols-4 grid-cols-1 text-center  border-b border-stone-500 ">
                    <div class="p-2 flex justify-center items-center text-2xl sm:text-lg" >{{task["title"]}}</div>
                    <div class="p-2 flex justify-center items-center">{{task["description"]}}</div>
                    <div class="p-2 flex justify-center items-center">{{task["due_date"]}}</div>

                    {% if task["status"] == "To do" %}
                    <div class="p-2 bg-amber-500 flex items-center justify-center relative">{{task["status"]}}
                        <a href="{{url_for('edit_task', task_id=task['id'])}}"class="absolute right-4 hover:text-3xl">
                        <i class="fa-solid fa-pen-to-square "></i>
                        </a>
                    </div>

                    {% elif task["status"] == "In progress" %}

                    <div class="p-2 bg-cyan-500 flex items-center justify-center relative">{{task["status"]}}
                        <a href="{{url_for('edit_task', task_id=task['id'])}}"class="absolute right-4 hover:text-3xl">
                        <i class="fa-solid fa-pen-to-square "></i>
                        </a>
                    </div>

                    {% elif task["status"] == "Completed" %}

                    <div class="p-2 bg-green-500 flex items-center justify-center relative">{{task["status"]}}
                        <a href="{{url_for('edit_task', task_id=task['id'])}}" class="absolute right-4 hover:text-3xl" >
                        <i class="fa-solid fa-pen-to-square "></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %} 
            </div>
{% endblock %}