{% extends "base.html" %}
    {% block title %}Dashboard{% endblock %}

     

    {% block content %}
          <div class="flex p-6 items-center justify-between" id="task-manager-header">
               <h1 class="text-3xl">Editing task: "{{task['title']}}"</h1>
                <div>
               <button id="modal-button" type="button" class="text-3xl mr-4 hover:text-cyan-400"><i class="fa-solid fa-trash"></i></button>
          </div>

          </div>

          <div id="myModal" class="modal" style=display:none>

               <div id="modal-content" class="modal-content">
                    <span class="close">&times;</span>
                    <p>Are you sure you want to delete this task ?</p>
                    <form action="{{url_for('delete_task', task_id=task['id'])}}" method="post">
                    <button type="submit" class="w-[50%] bg-lime-600 hover:bg-lime-400 border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl my-2 ">Yes</button>
                    <button type="button" id="cancelbtn" class="w-[50%] bg-lime-600 hover:bg-lime-400 border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl my-2 ">No</button>
               </form>
               </div>
          </div>

         

          <form method="POST" class="mt-6 mb-6 flex flex-col justify-center items-center overflow-hidden">
               <label for="title" class="text-3xl py-2">Title</label>
               <input type="text" id="title" name="title" value="{{task['title']}}">

               <label for="description" class="text-3xl py-2">Description</label>
               <textarea id="description" name="description" rows="8">{{task['description']}}</textarea>

               <label for="due_date" class="text-3xl py-2">Due date</label>
               <input type="date" id="due_date" name="due_date" value="{{task['due_date']}}" >

               <label for="status" class="text-3xl py-2">Status</label>
               <select name="status" value="{{task['status']}}" id="status" required>
                    <option value="To do">To Do</option>
                    <option value="In progress">In Progress</option>
                    <option value="Completed">Completed</option>
               </select>
               <div class="w-[50%] bg-lime-600 border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl my-10 ">
                    <button type="submit" class="w-full h-full px-4 py-4" >Update task</button>
               </div>
               </form>

               
     <script>
          let modal = document.getElementById("myModal");
          let deleteButton = document.getElementById("modal-button");
          let span = document.getElementsByClassName("close")[0];
          let cancelbtn = document.getElementById("cancelbtn");

          deleteButton.onclick = function(){
               modal.style.display = "block";
          }

          span.onclick = function(){
               modal.style.display = "none";
          }

          cancelbtn.onclick = function(){
               modal.style.display = "none";
          }

          window.onclick = function(event){
               if(event == modal){
                    modal.style.display = "none";
               }
          }

     </script>
{% endblock %}


</html>