{% extends "base.html" %}
    {% block title %}Dashboard{% endblock %}
 
     

    {% block content %}
        <div class="flex p-6 items-center justify-between" id="task-manager-header">
            <h1 class="text-3xl">Login</h1>
            <div>
                <a href="{{url_for('register')}}" class="text-blue-500 text-xl">Register here</a>
            </div>
        </div>

     <form method="POST" action="{{url_for('login')}}">
        <label for="username">User name</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <div class="bg-lime-600 text-center border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl my-10">
        <button type="submit" class="flex justify-center items-center px-6 py-2 text-xl">Login</button>
        </div>
        <div class="text-center text-lg text-blue-500">
        <a href="{{url_for('password_reminder')}}">Forgot password ? Click here</a>
        </div>
     </form>
     
{% endblock %}


</html>