{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}



{% block content %}
     <form method="POST" class="flex">
          <label for="new_password">Enter new password</label>
          <input type="password" name="new_password" id="new_password" required>
          <div  class="w-[30%] bg-lime-600 text-center border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl my-10 ">
            <button type="submit" class="w-full h-full">Submit</button>
          </div>
     </form>
{% endblock %}