<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet" />
          <script src="https://cdn.tailwindcss.com"></script>
          <title>Register</title>
     </head>
     <body class="bg-stone-900 text-white" id="dashboard-container">

        <div id="task-container">

            <div class="flex p-6 items-center justify-between" id="task-manager-header">
               <h1 class="text-3xl">Registration</h1>
                <div>
                    <a href="{{url_for('login')}}" class="text-blue-500 text-xl">You already have an account ? Login here</a>
                </div>
            </div>
          

            <form method="POST" action="{{url_for('register')}}">
            <label for="username" >User name</label>
            <input type="text" name="username" id="username" required >

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>

            <label for="confirm_password">Confirm password</label>
            <input type="password" name="confirm_password" id="confirm_password">

            <div  class="w-[30%] bg-lime-600 text-center border border-gray-300 dark:border-gray-600 rounded-3xl hover:border-gray-500 shadow-xl my-10 ">
            <button type="submit" class="w-full h-full">Register</button>
            </div>
            </form>

            
    </div>
        
     </body>
</html>